<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
   <div id="success">
    <h1>
        Order Completed Successfully!
    </h1>
    <p>Thank you for your purchase. Your order has been placed successfully.</p>
    <h2 ><a href="/home"title='Continue Shopping'>Continue Shopping.....</a> </h2>
   </div>
</body>
</html>